{%extends "base.html"%}
{% load static i18n %}
{% load verbose %}
{%load django_bootstrap5%}
{%block title%}Store{%endblock title%}

{%block content%}
<a href="{%url 'smplshop.master:store_add'%}" up-layer="new" id="add_button" up-accept-location="{%url 'smplshop.master:store_list'%}?new_code=:code" class="btn btn-primary" up-on-accepted="up.reload({ navigate: true,url:'{{request.path}}' })">{%translate "Add"%}</a>
<table id="list-table" class="table table-hover w-auto">
    <tr>
    {%for field in fields%}
        <th>{%field_name model field%}</th>
    {%endfor%}
    </tr>
    {%for obj in object_list%}
    <tr>
    {%for value in obj%}
        <td>{{value}}</td>
        {%endfor%}
    {%endfor%}
    </tr>
</table>

{%bootstrap_pagination page_obj%}

{%endblock content%}
